---
import { Picture } from 'astro:assets';
interface Props {}

const {} = Astro.props;
---

<a href={'#'} class='group cursor-pointer'>
	<div class='flex w-[400px] flex-row justify-end gap-3'>
		<div class='flex w-2/3 flex-col justify-end py-3'>
			<div class='flex justify-end gap-3'>
				<span class='font-semibold text-blue-500'>Previous article</span>&gt;
			</div>
			<div class='line-clamp-2 text-right text-lg'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quae culpa quis
				perferendis magnam doloribus expedita ad dolore voluptate repellat vel praesentium nisi
				aliquam ut earum ratione numquam pariatur id.
			</div>
		</div>
		<Picture
			class='size-24 rounded-lg object-cover'
			alt='test'
			format='webp'
			src={'https://ap-northeast-1.graphassets.com/cm0sx4t8007ej0815e1xw960p/cm0tsccpx701w0710qv1c5cx4'}
			width={100}
			height={100}
			loading='eager'
			fetchpriority='high'
		/>
	</div>
</a>
