@import "./font.css" @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0747a6;
  --color-secondary: #e1e1ef;
  --tw-color-blue: 0, 123, 255;

  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

html {
  font-family: "Kanit", sans-serif;
  background: #000000;
}

code {
  font-family:
    Kanit,
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

@layer utilities {
  .h0 {
    @apply font-kanit font-medium text-3xl xl:text-5xl;
  }

  h1,
  .h1 {
    @apply font-kanit text-2xl font-medium md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-kanit text-xl font-medium md:text-2xl;
  }

  h3,
  .h3 {
    @apply font-kanit font-medium text-base;
  }

  h4,
  .h4 {
    @apply font-kanit text-base font-medium md:text-lg;
  }
  body,
  .p {
    @apply font-kanit text-sm md:text-base;
  }
}
