@import './font.css';
@import './prose.css';
@import 'highlight.js/styles/night-owl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 59, 130, 246;
	--color-secondary: 234, 178, 113;
}

html {
	font-family: 'Kanit', sans-serif;
	background: #ffffff91;
	scroll-behavior: smooth;
	color: "black";
}

code {
	font-family:
		Kanit,
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}

@layer components {
}

@layer typography {
	.h0 {
		@apply font-kanit text-3xl font-medium xl:text-5xl;
	}

	h1,
	.h1 {
		@apply font-kanit text-2xl font-medium md:text-4xl;
	}

	h2,
	.h2 {
		@apply font-kanit text-xl font-medium md:text-2xl;
	}

	h3,
	.h3 {
		@apply font-kanit text-base font-medium;
	}

	h4,
	.h4 {
		@apply font-kanit text-base font-medium md:text-lg;
	}
	body,
	.p {
		@apply font-kanit text-sm md:text-base;
	}
}

.code-block {
    position: relative;
	display: block;
	margin-top: 0 !important;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}

.code-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D3D3DFF;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1.5rem;
}

.toolbar {
    display: flex;
    align-items: center;
	height: 1.5rem;
}

.toolbar-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff5f56;
    margin-right: 0.5rem;
}

.toolbar-item:nth-child(2) {
    background-color: #ffbd2e;
}

.toolbar-item:nth-child(3) {
    background-color: #27c93f;
}

.copy-button {
    position: absolute;
    top: 3rem;
    right: 0.5rem;
    background-color: #929292FF;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
}

.code-block:hover .copy-button {
    opacity: 1;
}

.copy-button:hover {
    background-color: #0056b3;
}

.copy-button .icon {
    margin-right: 0.25rem;
}