---

---

<nav class='sticky top-0 z-50'>
	<div class='flex h-[69px] justify-between bg-white px-10 py-5 shadow-md'>
		<a href='/'> Logo </a>

		<div>
			<ul class='flex gap-5'>
				<li>
					<a href='/'>Doc</a>
				</li>
				<li>
					<a href='/about'>Blog</a>
				</li>
				<li>
					<a href='/contact'>Changelog</a>
				</li>
			</ul>
		</div>

		<div></div>
	</div>
</nav>
